.test{
   width: 100% !important;
}

.center_txt{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 75px;
   font-weight: 700;
}

.homepage {
   width: 100%;
  }

p{
   font-size: 30px;
   text-align: center;
}